@font-face {
    font-family: Raleway-Medium;
    src: url(fonts/Raleway-Medium.ttf);
    }

  @font-face {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Regular.ttf);
  }
  @font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
}


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway-Medium, sans-serif;
}



body {
    background-color: lightgrey;
    font-family: 'Montserrat', serif;
    font-size: 30px;
}

.contenedor-de-encabezado {
    background-color: white;
    border: solid 2px darkgray;
    border-radius: 2em;
    margin-top: 20px;
}

#bienvenida {
    color: #423B39;
    font-size: 60px;
}

.contenedor-de-encabezado .titulo {
    color: #FF002F;
    font-size: 30px;
    font-weight: 800;

}

.contenedor-de-encabezado .menu nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contenedor-de-encabezado .menu a {

    color: black;
    font-family: helvetica;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 18px;

}

.contenedor-de-encabezado .menu a:hover {
    border-bottom: 1px dotted black;
}

.tarjeta-idioma {
    max-width: 25rem;
    margin-top: 5%;
}

#bandera-korea {
    width: 50px;
    height: 50px;
}

#bandera-japon {
    width: 50px;
    height: 50px;
}


@import url('https://fonts.googleapis.com/css2? family= Raleway:ital,wght@1,400;1,500;1,600 & display=swap');

.container {
    display: flex;
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
    color: #fff;
    box-shadow: 0 0 20px rgba(201, 199, 253, 0.5);
    border: solid 2px darkgray;
    flex-direction: column;
}


.form {
    margin: auto;
    margin-top: 100px;
    padding: 30px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.form p {
    color: #FF002F;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 50px;


}

label {
    font-size: 15px;
    color: #050608;
    margin-bottom: 15px;
}

.box {
    border: 0;
    background-color: #F4F4FD;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
    outline: none;
    flex-basis: 100%;
}

.select {

    border: 0;
    box-shadow: 0 0 20px rgba(201, 199, 253, 0.5);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 30px;
    outline: none;
}

.btn1 {
    margin-top: 30px;
    box-shadow: 0 0 20px rgba(201, 199, 253, 0.5)
}

.btn1:hover,
.submit:focus {
    cursor: pointer;
}


@media(max-width: 300px) {

    .form {
        width: 100px;
        padding: 30px;
    }

    .container {
        flex-direction: column;
    }

    .box {
        flex-basis: 100%;

    }
}
