@font-face {
    font-family: Raleway-Medium;
    src: url(fonts/Raleway-Medium.ttf);
  }

  @font-face {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Regular.ttf);
  }
  @font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
  }
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway-Medium, sans-serif;
}

body {
    background-color: lightgrey;
    }

.contenedor-de-encabezado {
    background-color: white;
    border: solid 2px darkgray;
    border-radius: 2em;
    margin-top: 20px;
}

#bienvenida {
    color:#423B39;
    font-size: 70px;
}

.contenedor-de-encabezado .titulo {
    color:#FF002F;
    font-size: 40px;
    font-weight: 450;
    

}
.contenedor-de-encabezado .menu nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.contenedor-de-encabezado .menu a {
    
    color: black;
    font-family: helvetica;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 18px;
    
}
.contenedor-de-encabezado .menu a:hover {
    border-bottom: 1px dotted black;
}

.tarjeta-idioma {
    max-width: 25rem;
    margin-top: 5%;
}
#bandera-korea {
    width: 50px;
    height:50px;
}

#bandera-japon {
    width: 50px;
    height: 50px;
}

@import url('https://fonts.googleapis.com/css2? family= Raleway:ital,wght@1,400;1,500;1,600 & display=swap');
  

.container.main {
   display: flex;
   background-color: #fff;
   
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
   margin: auto;
   margin-top: 150px;
   border-radius: 25px;
   flex-direction: column;


}

.form{
    padding: 30px 80px;
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
   
}

.form{

    padding: 30px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
   
}

.form h2 {
    font-size: 45px;
    color: #FF002F;
    font-family: Raleway-Bold, sans-serif;
    margin-bottom: 25px; 

}

label{font-size: 15px;
    color: #050608;
    margin-bottom: 15px;}

    select{
        border: 0;
    box-shadow: 0 0 20px rgba(201, 199, 253, 0.5);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 40px;
    outline: none;
    }

    .box {
        border: 0;
        background-color: #F4F4FD;
        padding: 15px;
        border-radius: 25px;
        margin-bottom: 15px;
        outline: none;
    }
    .submit{
        margin-top: 50px;
        margin-bottom: 30px;
         
        border-radius: 25px;
        width: 250px;
        height: 40px;
        
    }
    .submit:hover, .submit:focus {
        cursor: pointer;
    }

   
    
     /* Inicio del footer */

footer {
    background-color: #33333371;
    color: #FFFFFF;
    padding: 50px 0;
    margin-top: 30px;
  }
  
  footer h3 {
    color: #FFC72C;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  footer p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  footer a {
    color: #FFFFFF;
  }
  
  footer a:hover {
    color: #FFC72C;
  }
  
  footer hr {
    border-color: #FFFFFF;
  }
  
  footer .text-center {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
  } */

    
      /* Estilo para los íconos sociales */
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  
  .social-icons a {
    display: flex;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFC72C;
  }
  
  .social-icons a:hover {
    background-color: #FFC72C;
    color: #FFFFFF;
  }
  
      
     
     /* Fin del footer */
     
    @media(max-width:300px){
        .info {
            display: none;
        }
        .form {
            width: 100px;
            padding: 30px;
        }
     }



