body{
    background-image: url("img/ilustracion1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;
}
.wave{
    height: 150px; 
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}