.contenedor-de-encabezado{
    background-color:royalblue
}

.contenedor-de-encabezado .titulo {
    color: red;
    font-family: monospace;
    font-size: 10px;
}

.contenedor-de-encabezado .menu a {
    color: white
}