body {
    background-color: lightgrey;
}

.contenedor-de-encabezado {
    background-color: white;
    border: solid 2px red;
    border-radius: 2em;
    margin-top: 20px;
}

#bienvenida {
    color: red;
    font-family: Georgia;
    font-size: 80px;
}

.contenedor-de-encabezado .titulo {
    color:#3e36b2;

    font-family:georgia;
    font-size: 36px;

}
.contenedor-de-encabezado .menu nav {
    display: flex;
    justify-content: space-between;
}
.contenedor-de-encabezado .menu a {
    
    color: black;
    font-family: helvetica;
    font-size: 10px;
    text-decoration: none;
    border: 1px dotted black;
    border-radius: 20px;
    padding: 12px 18px;
    
}

#bandera-korea {
    width: 50px;
    height: 50px;
}

#bandera-japon {
    width: 50px;
    height: 50px;
}