body {
    background-color: lightgrey;
    font-family: 'Montserrat', serif;
        font-size: 30px;
}

.contenedor-de-encabezado {
    background-color: white;
    border: solid 2px darkgray;
    border-radius: 2em;
    margin-top: 20px;
}

#bienvenida {
    color:#423B39;
    font-size: 70px;
}

.contenedor-de-encabezado .titulo {
    color:#FF002F;

    font-size: 40px;

}
.contenedor-de-encabezado .menu nav {
    display: flex;
   align-items: center;
}
.contenedor-de-encabezado .menu a {
    
    color: black;
    font-family: helvetica;
    font-size: 25px;
    text-decoration: none;
    padding: 12px 18px;
    
}
.contenedor-de-encabezado .menu a:hover {
    border-bottom: 1px dotted black;
}


#bandera-korea {
    width: 50px;
    height: 50px;
}

#bandera-japon {
    width: 50px;
    height: 50px;
}

.card-title {
    font-weight:600;
    font-size: 35px 
}
.card-subtitle {
    font-size:20px;
}

@import url('https://fonts.googleapis.com/css2? family= Raleway:ital,wght@1,400;1,500;1,600 & display=swap');

.form{
    padding: 30px 80px;
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
   
}

.form{

    padding: 30px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
.form h2 {
    font-size: 45px;
    color: #f12805;
    font-weight: 600px;
    margin-bottom: 25px; 

}
.form p {font-size: 16px;
color: #050608;
margin-bottom: 25px;

}
label{font-size: 15px;
    color: #050608;
    margin-bottom: 15px;}

    .box {
        border: 0;
        background-color: #F4F4FD;
        padding: 15px;
        border-radius: 25px;
        margin-bottom: 15px;
        outline: none;
    }
    .submit{
        background-color: #f12805;
        border: 0;
        padding: 15px;
        color:#fff;
        font-size: 16px;
        border-radius: 25px;
        width: 250px;
        margin-top: 25px;
        box-shadow: 0 0 20px rgba(201, 199, 253, 0.5)
    }
    .info{
        padding: 50px;
    
    }
    .imagen-3{
        width: 350px;
        padding: 75px;
    }
    .location{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
 }
    .icons {
        display: flex;
        margin-bottom: 31px;
    }
    .icons img {
        width: 40px;
        margin-right: 10px;
    }
     .icons p {
        font-size: 14px;
        color: #050608;
     }
     .social {
        display: flex;
     }
     .social {
        width: 50px;
        margin-right: 30px;
     }
     @media(max-width:990px){
        .container {
            width: 350px;
            height: 800px;
            margin-top: 50px;
        }
        .info {
            display: none;
        }
        .form {
            width: 100px;
            padding: 30px;
        }
     }